body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: maroon;
    color: #333;
}
h1 {
    text-align: center;
    padding: 20px 0;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: calc(flex);
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
     background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #e0e0e0;
}
th, td {
    border: 1px solid #e0e0e0;
    padding: 12px;
    text-align: center;
}
th {
    background-color: blue;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #e0e0e0;
}
tr:hover {
    background-color: goldenrod;
}
.description {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 18px;
}
.link-button {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.link-button:hover {
    background-color: #2584c0;
}
/* Media query for logo responsiveness */
@media screen and (max-width: 768px) {
    .logo {
      max-width: 100%;
      height: auto;
    }
  }
  

@media only screen and (max-width: 768px) {
    .menu-icon-mobile {
      display: block;
      position: absolute;
      top: 55px;
      right: 2px;
      font-size: 34px;
      cursor: pointer;
    }
  
    ul {
      display: none;
      flex-direction: column;
      align-items: center;
    }
  
    ul.show {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  
    ul.nav-content {
      width: 90%;
      transform: translateX(0);
      position: relative;
      top: 0;
      left: 0;
    }
  
    .website-content {
      margin-top: 10px; /* Adjust as needed */
    }
  }
  
  @media only screen and (min-width: 769px) {
    ul {
      justify-content: center;
    }
  
    ul.show {
      justify-content: center;
    }
  
    ul.nav-content {
      left: 50%;
      transform: translateX(-50%);
    }